*{
    padding: 0;
    margin: 0;
}

.header{
    border-bottom:  1px solid gray;
    font-size: 1.5em;
    padding : 20px;
    text-align: center;
    align-items: center;
    background-color: brown;
    color: white;
}

.gridbox{
    display: grid;
    grid-template-columns: 170px 1fr;
}

.gridbox .nav {
    border-right: 1px solid gray;
    padding: 10px;
    height:100vh;
    line-height: 1.5em;
}

.contents{
    padding: 10px;
    padding-left: 20px;
}

@media(max-width:800px){
    .gridbox{
        display: block;
    }
    .gridbox .nav{
        height: auto;
        border-bottom: 1px solid gray;
    }
    .gridbox .nav ul li{
        border-right: none;
        padding: 10px;
        height: auto;
        line-height: 1.5em;
        display: inline-block;
    }
}