*{
    padding: 0;
    margin: 0;
}

div{
}

.header{
    border-bottom:  1px solid gray;
    padding : 20px;
    text-align: center;
    align-items: center;
    background-color: brown;
    color: white;
}

#gridbox{
    display: grid;
    grid-template-columns: 170px 1fr;
}

#gridbox .nav {
    border-right: 1px solid gray;
    padding: 10px;
    height:100vh;
    line-height: 1.5em;
}

.contents{
    padding: 10px;
    padding-left: 20px;
}
